body{
    padding: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background: #002C55;
    font-weight: 600;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar-logo-part{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 30px;
    height: 30px;
}

.gemini-title{
    color: white;
    font-weight: 600;
    margin-left: 5px;
    font-size: 1em;
    align-items: center;
    align-self: center;
}

.nav-bar-login-name{
    color: white;
    font-size: 0.8em;
    border: 1px white solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-left: 20px;
}
.log-name-area{
    display: flex;
    flex-direction: row;
}

#logout:hover{
    cursor: pointer;
    background-color: #FFB4B4;
    color: #002C55;
}

#back-home{
    cursor: pointer;
}
.container{
    background-image: url('../assets/bg2.png');
    width: 100%;
    background-size: 100% 100%;
    overflow: hidden;
}

.inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.science-plan-title {
    color: white;
    font-weight: 900;
    font-size: 1.8em;
    text-align: center;
}

.collaborate-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 2px white solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 13px;
}

.collaborate-text,
.text {
    color: white;
}

.collaborate-text{
    width: 85%;
    overflow: auto;
    height: 20px;
}

.add-collaborate{
    color:#002C55;
    background-color: #FFB4B4;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.add-collaborate:hover{
    cursor: pointer;
}
.science-detail-title{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.science-detail-block{
    margin-top: 10px;
    width: 35%;
    padding: 20px;
    border: 2px white solid;
    border-radius: 13px;
    color: #FFB4B4;
    font-size: 0.9em;
}
.input-block{
    display: flex;
    flex-direction: column;
}

input,
select{
    padding:5px;
    margin-top: 5px;
}

input:focus, 
select:focus{
    outline: none;
}

.divide-input-block{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divide-input-block .input-block{
    width: 49%;
}

input[type="date"]{
    font-family: 'Roboto', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../assets/calendar.png') center/80% no-repeat;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}
select{
    padding: 5.4px;
}

.save-btn{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #A0A0A0;
    padding: 7px 20px;
    color: white;
    font-weight: 900;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    outline:none;
}

.save-btn.active{
    color: #002C55;
    background-color: #FFB4B4;
}

.save-btn.active:hover{
    cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.modal-title{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.modal-content{
    height: 80%;
}

.modal-body{
    display: flex;
    flex-direction:column;
    overflow: auto;
    height: 90%;
}

.modal-body::-webkit-scrollbar,
.collaborate-text::-webkit-scrollbar{
    display: none;
}

.collaborate-list{
    margin: 5px;
    padding: 15px;
    border: 1px #002C55 solid;
    border-radius: 10px;
}

.collaborate-list:hover,
.add-colla-btn:hover{
    cursor: pointer;
}

.collaborate-list.active{ 
    background-image: url('../assets/check-circle.png');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position-x: 95%;
}

.wrap-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
}
.add-colla-btn{
    color: #002C55;
    background-color: #FFB4B4;
    padding: 5px 20px;
    border-radius: 15px;
    text-decoration: none;
}

.subCategory-block{
    display: none;
}

.noOthers{
    color: red;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}