<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Astronomical Data</title>
    <link rel="icon" href="../assets/gemini3-logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/astronomicalData.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
    <div class="outside-container">
        <div class="nav-bar">
            <div class="nav-bar-logo-part" id="back-home">
                <img src="../assets/gemini3-logo.png" alt="gemini3-logo" class="logo">
                <span class="gemini-title">Gem|n| System</span>
            </div>
            <div class="log-name-area">
                <div class="nav-bar-login-name" id="logout">
                    <span>Logout</span>
                </div>
                <div class="nav-bar-login-name">
                    <span>Login as</span>
                    <span id="loginName"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-container">
                <span class="science-plan-title">Validated Science Plan</span>
                <span id="empty-validated-plan"></span>
                <div id="validated-block"></div>
            </div>
        </div>
        <div id="modal-validate" class="modal" style="max-width: 60%">
            <div class="science-plan-title">
                <span id="sciencePlanName" class="sciencePlanName"></span>
                <span id="sciencePlanId" class="sciencePlanId"></span>
            </div>
            <div class="modal-container">
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">Collaborator</span>
                        <span id="collaborator" class="content-result"></span>
                    </div>
                   <div class="content-row">
                        <span class="content-title">Creator</span>
                        <span id="creator" class="content-result"></span>
                   </div>
                </div>
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">Objective</span>
                        <span class="content-result" id="objective"></span>
                    </div>
                    <div class="content-row">
                        <span class="content-title">Fund</span>
                        <span class="content-result" id="fund"></span>
                    </div>
                </div>
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">Schedule Start</span>
                        <span id="scheduleStart" class="content-result"></span>
                    </div>
                   <div class="content-row">
                        <span class="content-title">Schedule Stop</span>
                        <span id="scheduleStop" class="content-result"></span>
                   </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="science-plan-title">
                <span class="sciencePlanName" style="font-size: 0.5em; margin-bottom: -10px;">Star System</span>
            </div>
            <div class="modal-container">
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">Category</span>
                        <span id="category" class="content-result"></span>
                    </div>
                    <div class="content-row">
                        <span class="content-title">Telescope Location</span>
                        <span class="content-result" id="telescopeLocation"></span>
                    </div>
                </div>
                <div class="modal-content-row" id="subCategory-block">
                    <div class="content-row">
                        <span class="content-title">Subcategory</span>
                        <span class="content-result" id="subCategory"></span>
                    </div>
                </div>
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">Star System</span>
                        <span class="content-result" id="starSystem"></span>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="science-plan-title">
                <span class="sciencePlanName" style="font-size: 0.5em; margin-bottom: -10px;">Data Processing Requirements</span>
            </div>
            <div class="modal-container">
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">File Type</span>
                        <span id="fileType" class="content-result"></span>
                    </div>
                   <div class="content-row">
                        <span class="content-title">File Quality</span>
                        <span id="fileQuality" class="content-result"></span>
                   </div>
                </div>
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">ColorType</span>
                        <span class="content-result" id="colorType"></span>
                    </div>
                    <div class="content-row">
                        <span class="content-title">Color</span>
                        <span class="content-result" id="color"></span>
                    </div>
                </div>
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">Contrast</span>
                        <span class="content-result" id="contrast"></span>
                    </div>
                    <div class="content-row">
                        <span class="content-title">Brightness</span>
                        <span class="content-result" id="brightness"></span>
                    </div>
                </div>
                <div class="modal-content-row">
                    <div class="content-row">
                        <span class="content-title">Saturation</span>
                        <span class="content-result" id="saturation"></span>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="science-plan-title">
                <span class="sciencePlanName" style="font-size: 0.5em; margin-bottom: -10px;">Review</span>
            </div>
            <div class="modal-container" id="review-part">
                <div class="modal-content-row">
                    <div id="empty-picture" class="empty-picture">There is no any pictures available here ...</div>
                </div>
            </div>
            <div class="divider" style="margin-top: -5px;"></div>
            <div class="science-plan-title">
                <span class="sciencePlanName" style="font-size: 0.5em; margin-bottom: -10px;">Comment</span>
            </div>
            <div id="modal-container">
                <div class="modal-content-row">
                    <span id="comment-content" class="comment-content"></span>
                </div>
            </div>
            <div class="modal-container">
                <div class="modal-content-row-result">
                    <div class="modal-content-validation">Validation Result: </div>
                    <div class="modal-content-pass">PASS</div>
                </div>
            </div>
            <div class="button-wrapper" id="button-wrapper">
                <span id="cancel" class="cancel">Close</span>
            </div>
        </div>
        <div id="link-to-image"></div>
        <div id="go-to-login"></div>
    </div>

    <script type="text/javascript" src="../script/apis.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javascript" src="../script/astronomicalData.js"></script>
</body>
</html>