<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="icon" href="../assets/gemini3-logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/home.css" />
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav-bar-logo-part">
                <img src="../assets/gemini3-logo.png" alt="gemini3-logo" class="logo">
                <span class="gemini-title">Gem|n| System</span>
            </div>
            <div class="nav-bar-login-name">
                <span>Login as</span>
                <span id="loginName"></span>
            </div>
        </div>
        <div class="menu-part">
            <span class="menu-title">Menu</span>
            <a href="./createSciencePlan.html">Create a Science Plan</a>
            <a href="#">Test Science Plan</a>
            <a href="#">Validated Science Plan</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../script/home.js"></script>
</body>
</html>