<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test Science Plan</title>
    <link rel="icon" href="../assets/gemini3-logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/testSciencePlan.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
    <div class="outside-container">
        <div class="nav-bar">
            <div class="nav-bar-logo-part">
                <img src="../assets/gemini3-logo.png" alt="gemini3-logo" class="logo">
                <span class="gemini-title">Gem|n| System</span>
            </div>
            <div class="nav-bar-login-name">
                <span>Login as</span>
                <span id="loginName"></span>
            </div>
        </div>
        <div class="container">
            <div class="inner-container">
                <span class="science-plan-title">Test a Science Plan</span>
                <span id="empty-tests-plan"></span>
                <div id="conflict-block" >
                    <!-- <span class="block-title" style="color: red;">Conflicted Schedule</span>
                    <div class="conflict-box">
                        <div class="conflict-content">
                            <div class="no">No.12</div>
                            <div class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                            <div class="conflict-button-wrapper">
                                <span class="modify">Modify</span>
                                <span class="reject">Reject</span>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div id="pending-block"></div>
                <div id="tested-block"></div>
            </div>
        </div>
        <div id="modal-testing" class="modal" style="width: 20%">
            <div class="modal-testing-content">Plan is Testing ... </div>
        </div>
        <div id="link-to-modify"></div>
    </div>

    <script type="text/javascript" src="../script/apis.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javascript" src="../script/testSciencePlan.js"></script>
</body>
</html>